@keyframes showHeader {
  0% {
   height: 0;
  top: -90px;
  }
  100% {
  height: 60px;
  display: flex;
  top:0;
  }
}

@keyframes expande {
  0% {
    width: 60px;
    height: 60px;
    }
  100% {
    width: 200%;
    height: 200%;
  }
}

span {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 0;
  padding-right: 24px;
  margin: 0;
  position: fixed;
  top: -90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: baseline;
  background-color: transparent;
  font-family: 'Cuprum', sans-serif;
  z-index: 999;
  color: white;
  -webkit-animation: showHeader 1s ease-in-out;
  animation: showHeader 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 5.8s;

  .navigationAuthor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header__logo{
    height: fit-content;
    margin-left: 8px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.69);
    background-color: #0202020d;
    border-radius: 15px;
    z-index: 10;
    opacity: .90;
    letter-spacing: .2em;
    padding: 5px 8px;
    font-size: 12px;
    #author{
      text-transform: uppercase;
    }
    
    .pageCategory{
      text-transform: capitalize;
    }

    &-aboutMe {
    background-color: rgb(42, 77, 104);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.966);
    border: 1px solid white;
    border: none;
    z-index: 10;
    opacity: .85;
    letter-spacing: .2em;
    padding: 5px 10px;
    padding-top: 4.5px;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
    margin-top: 1px;
    color: white;
    @include tablet {
      font-size: 15px;
      margin-top: 13px;
      border: 1px solid white;
      width: 130px;
    }
    .btn-text {
      color: white;
    }
    }
  }
  .contactLink:hover{
    transform: scale(1.3);
  }
  .header__navigation-tablet {
    display: none;
    @include tablet {
      display: block !important;
    }
  }
  .header__navigation {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .menu {
      width: 60px;
      height: 60px;
      font-size: 30px;
      text-align:center;
    } 
    .menu-bg {
      @extend .menu;
      background: #663399;
      pointer-events: none;
      transition: .3s; 
      right:40px;
      top:40px;
      transform:translate3d(50%,-50%,0); 
      transform-origin: center center;
      &.fs{
        transform:translate3d(50%,-50%,0);  
        width:300vw; 
        height:300vw;
      }
    }
    .menu-burger {
      @extend .menu;
      color: white;
      -webkit-user-select: none;
      cursor: pointer;
      transition: .4s;
      transform-origin: center;
      position: relative;
      width: 55px !important;
      height: 32px !important;
      font-size: 18px;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      &.fs {
        transform: rotate(-180deg) translateY(10px);
      }
    }
    .menu-items{
      position:absolute;
      font-weight: bold;
      font-size: 40px;
      letter-spacing:10px;
      color: white;
      width: 100vw;
      text-align: center;
      opacity:0;
      transition: .4s;
      margin-top:100px;
      transform: translateY(-200%);
      pointer-events:none;
      div {
        transition: 1s;
        opacity: 0;
        margin-top: 0px;
      }
      &.fs {
        transform: translateY(0);
        pointer-events:auto;
        opacity: 1;
        div{
          opacity: 1;
          margin-top: 75px;
        }
      }
    }
  }
  .navigation__checkbox {
    display: none;
  }
  label {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation__button {
    background-color: #020202;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    position: fixed;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    color: white;
  }
  
  .navigation__background {
    background-color: #020202;
    height: 35px;
    width: 35px;
    opacity: 2;
    position: fixed;
    background-image: radial-gradient(#02020202, #0202020d );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .navigation__nav {
    background-color: #0202020d;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .navigation__list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 0;
  }
  
  .navigation__item {
    display: inline-block;
    margin: 1rem;
    text-align: left;}
  .navigation__item:hover {
    box-shadow: inset 230px 0 0 0 #08B;
    transition: all 0.6s;
  } 
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 350;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
    
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
  }
  
  .navigation__link:hover, .navigation__link:active {
    color: #fff;
    font-weight: 700;
  }
  
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
  }

  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100vw;
  }
  
  .navigation__icon {
    position: relative;
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  
  .navigation__button:active{
    background-color: transparent;
  }
  .navigation__button:active > .navigation__list {
    width: 100vw;
    height: 100vh;
  }
}

.showItems {
  width: 100%;
}